<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fearless Flyers</title>
        
        <%= favicon_link_tag 'favicon' %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600|Roboto:400,500,700" rel="stylesheet">
        
        <%= stylesheet_link_tag("application.css") %>
        
    </head>
    <body id="body-youth">
    <header id="header">
        <div id="header-content">
            
            <%= link_to '/' do %>
                <%= image_tag 'fearless_logo_crop.jpg', id: "logo", alt: 'flyers logo'%>
            <% end %>
            
            <div id="browser-menu-youth" >
            <a href="/" class="subRide">Home</a>
            <a href="about" class="subRide menu-about selected">About</a>        
                
                <nav id="rides-drop">
                    <ul id="drop-menu">
                        <p class=" drop-item clearfix"><a href="about" class="selected">Fearless Flyers Program</a></p>
<!--                        <p class="drop-item clearfix"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                        <p class="drop-item clearfix"><a href="staff">Board / Staff</a></p>
                        <p class="drop-item clearfix"><a href="youth">Youth Rider Profiles</a></p>
                        <p class="drop-item clearfix"><a href="supporters">Supporters</a></p>
                    </ul>
                </nav>    
            <a href="photos" class="subRide">Photos</a>
            <a href="apply" class="subRide">Apply</a>
            <a href="/sign_in" class="subRide">Sign-In</a>     
            <a target="_blank" href="https://flyers2016.causevox.com/" class="subRide" style="color: lightgreen">Donate</a>
   
            </div>
        </div>    
        <div id="mobile_menu">
            <a href="/" class="subRide">Home</a>
            <a href="about.html" class="subRide mobile-menu-about selected">About</a>
                <div id="mobile-drop">
                    <p class="mobile-submenu"><a href="about" class="selected">Flyers Program</a></p>
<!--                    <p class="mobile-submenu"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                    <p class="mobile-submenu"><a href="staff">Board / Staff</a></p>
                    <p class="mobile-submenu"><a href="youth">Youth Rider Profiles</a></p>
                    <p class="mobile-submenu"><a href="supporters">Supporters</a></p>
                </div>    
            <a href="photos" class="subRide">Photos</a>
            <a href="apply" class="subRide">Apply</a> 
            <a href="/sign_in" class="subRide">Sign In</a>
            <a target="_blank" href="https://flyers2016.causevox.com/" class="subRide donate-button" style="color: lightgreen">Donate</a>
        </div>
         
        <div id="nav_lines">
            <p class="hamburger">
            </p>
        </div>    
    </header>
    <div id="main-content-youth">   
        <div class="jumbotron-about">
<!--            <img src="img/aboutpic.JPG">-->
            <p id="sunday"></p>
            
        </div>
        <div id="youth-text" >
            <span id="about-oc-youth">THE FEARLESS FLYERS PROGRAM</span>
            
        </div>
        <div id="youthwidth" class="clearfix">

            <div id="about-youth" class="clearfix">
                
<!--
                <div class="video-wrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/D2rLftKXm2s" frameborder="0" allowfullscreen></iframe>
                </div>    
-->                 
                <div id="risks">
                    <h3>RISKS FACING INNER-CITY LGBTQ YOUTH</h3>
                    <p><span class="fearless-flyers-program">New York City LGBTQ youth</span> encounter higher risks of violence, suicide, substance abuse and depression.  These risks are often related to low self esteem brought on by societal discrimination and marginalization.
                    <br><br>
                    The harm is often mitigated when young people have access to supportive relationships with peers and adults, and structured activities like group exercise. However, opportunities for physical exercise can be difficult to find in inner city neighborhoods. </p>
                        
                    <h3>BREAKING DOWN THE BARRIERS</h3>
                    <p><span class="fearless-flyers-program">OutCycling's Fearless Flyers program</span> is a 10 week program of regularly scheduled group exercise helping to reduce stress, build self-confidence and strength to counter these destructive issues.  However the barriers to entry to the sport of cycling can be high - such as equipment costs, access to training, and knowledge of safer riding routes. The Fearless Flyers Program removes these by barriers by providing bicycles and all necessary safety equipment, training and coaching to participate in the sport safely.</p>
                    <h3>BUILDING SKILLS AND CONFIDENCE</h3>
                    <p><span class="fearless-flyers-program">We teach cycling and leadership skills</span> throughout the 10-week program and each graduate receives a free bike, helmet and lock upon graduation. The program offers a way for youth ages 16-21 to connect to a healthy lifestyle through cycling providing physical and emotional health benefits. In addition to weekly physical exercise, participants learn responsibility, effective communication, personal empowerment and cycling advocacy.</p>
                    <h3>HEALTHY LIVING THROUGH CYCLING</h3>
                    <p><span class="fearless-flyers-program">The Fearless Flyers program</span> engages youth and fosters healthy development, providing a safe environment in which to learn new skills, enjoy recreational activities, and form positive bonds with peers and caring adults. The benefits include increased physical, mental and emotional well-being amongst the participants.</p> 
                </div>    
            
            </div>    <!--about-youth-->
            
            
            
<!--        </div>-->
        <div id="about-youth-supporters">    
            <div id="about-supporters" class="clearfix">
                <div id="diany-photos">
                    <h3>Diany Disla, Youth Ride Lead:
                        <br>
                        Transforming her life through cycling.</h3>
                    
                    <%= image_tag("dianybeforeafter.jpg") %>
                    
                </div>
                <div class="video-wrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/D2rLftKXm2s" frameborder="0" allowfullscreen></iframe>
                </div>  
                
                
                
                
            </div> <!--about-supporters-->
            </div>    

            
        </div> <!--youthwidth-->
        
        <div id="partners" class="youth-footer">
           <ul>

        <!--<li><%= link_to image_tag('center_logo.png'), "https://gaycenter.org/", target:"_blank" %></li>-->
               
            <li><%= link_to image_tag('outcyclinglogo.png'), "http://www.outcycling.org/", target:"_blank" %></li>

        <!--<li><%= link_to image_tag('bike_ny.png'), "http://www.bike.nyc/", target:"_blank" %></li> -->
                

            </ul>
        </div> 
</div> <!--.main-content-youth -->
        
        
        
     <script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>
        
        <%= javascript_include_tag "app" %>
        
        
<!--        google analytics below-->
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-81832841-2', 'auto');
          ga('send', 'pageview');

        </script>
        
        
    </body>  
    
    
</html>