<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fearless Flyers</title>
        
        <%= favicon_link_tag 'favicon' %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600|Roboto:400,500,700" rel="stylesheet">
        
        <%= stylesheet_link_tag("application.css") %>
        
    </head>
    <body id="body-youth">
    <header id="header">
        <div id="header-content">            

            
            <%= link_to '/' do %>
                <%= image_tag 'fearless_logo_crop.jpg', id: "logo", alt: 'flyers logo'%>
            <% end %>
            
            
            <div id="browser-menu-youth" >
            <a href="/" class="subRide selected">Home</a>
            <a href="static_pages/about" class="subRide menu-about">About</a>        
                
                <nav id="rides-drop">
                    <ul id="drop-menu">
                        <p class=" drop-item clearfix"><a href="static_pages/about">Fearless Flyers Program</a></p>
<!--                        <p class="drop-item clearfix"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                        <p class="drop-item clearfix"><a href="static_pages/staff">Board / Staff</a></p>
                        <p class="drop-item clearfix"><a href="static_pages/youth">Youth Rider Profiles</a></p>
                        <p class="drop-item clearfix"><a href="static_pages/supporters">Supporters</a></p>
                    </ul>
                </nav>    
            <a href="/static_pages/photos" class="subRide">Photos</a>
            <a href="static_pages/apply" class="subRide">Apply</a>
            <a href="/sign_in" class="subRide" disabled>Sign-In</a>     
            <a target="_blank" href="https://flyers2016.causevox.com/" class="subRide" style="color: lightgreen">Donate</a>
   
            </div>
        </div>    
        <div id="mobile_menu">
            <a href="/" class="subRide selected">Home</a>
            <a href="static_pages/about.html" class="subRide mobile-menu-about">About</a>
                <div id="mobile-drop">
                    <p class="mobile-submenu"><a href="static_pages/about" >Flyers Program</a></p>
<!--                    <p class="mobile-submenu"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                    <p class="mobile-submenu"><a href="static_pages/staff">Board / Staff</a></p>
                    <p class="mobile-submenu"><a href="static_pages/youth">Youth Rider Profiles</a></p>
                    <p class="mobile-submenu"><a href="static_pages/supporters">Supporters</a></p>
                </div>    
            <a href="/static_pages/photos" class="subRide">Photos</a>
            <a href="static_pages/apply" class="subRide">Apply</a> 
            <a href="/sign_in" class="subRide">Sign In</a>
            <a target="_blank" href="https://flyers2016.causevox.com/" class="subRide donate-button" style="color: lightgreen">Donate</a>
        </div>
         
        <div id="nav_lines">
            <p class="hamburger">
            </p>
        </div>    
    </header>
        <div class="jumbotron-youth">
            
            <p id="sunday"></p>
            
        </div>
        <div id="youth-text" >
            <span id="oc-youth">YOUTH CYCLING INITIATIVE</span>
            
        </div>
        <div id="app-youthwidth" class="clearfix">
        <div id="lower-youth">
            <div id="about-youth" class="home-parag">
                
                <div id="home-parag">
                    <p><span class="fearless-flyers-program">The Fearless Flyers</span> is the youth cycling division of OutCycling, a 501c3 nonprofit set up to promote healthy living through cycling. OutCycling fulfills their mission by hosting training rides and cycling events throughout the year. In addition, OutCycling trains and sponsors athletes to compete in competitions such as the Gay Games. </p>
    
                    <div id="grad-photo">
                        
                    <%= image_tag("flyers_graduation.jpg", alt: "flyers graduation", class: "clearfix") %>
                
                <span id="inset">GRADUATION DAY 2016</span>
                </div>    

                    <p><span class="fearless-flyers-program">The Fearless Flyers</span> is a 10-week training program for New York City youth ages 16-21 that includes safety training in partnership with BikeNY and the NYC DOT. The program empowers young adults to build self-confidence, leadership and cycling skills. Each participant is provided a bike and helmet for the Saturday morning training rides. Training rides start at 10 miles and gradually increase to finish with a 35 mile ride. <strong>Graduates who successfully complete the training earn their own bike, helmet and lock.</strong></p>
                </div>    
                
            </div>
            
        </div>
            <div id="youth-grads" class="clearfix">
                <div id="grad1">
                <%= image_tag("jayden.jpg", alt: "jayden", class: "clearfix") %>
                    <p class="info name">JAYDEN TAVAREZ</p>
                    <p class="info">Age: 22</p>
                    <p class="info">From: Brooklyn</p>
                    <p class="info">Class: 2016</p>
                
                    <p class="desc" class="clearfix">"As a person who started off always in the back, Fearless Flyers showed me how to self motivate - I was in the front for the last ride of the season. I learned the importance of self care."</p>
                </div>
                <div id="grad1">
                <%= image_tag("demo.jpg", alt: "demo", class: "clearfix") %>
                    <p class="info name">DEMO MOSESON</p>
                    <p class="info">Age: 23</p>
                    <p class="info">From: New York</p>
                    <p class="info">Class: 2016</p>
                    <p class="desc">"Even when I won't want to do something, I should take one day, one hour, one pedal at a time - and I will succeed. It's better to be the weakest of the strong than the strongest of the weak."</p>
                </div> 
                <div id="grad1" >
                <%= image_tag("leonardo.jpg", alt: "leonardo", class: "clearfix") %>
                    <p class="info name" >LEONARDO CANELA</p>
                    <p class="info" >Age: 23</p>
                    <p class="info" >From: Brooklyn</p>
                    <p class="info" >Class: 2015</p>
                    <p class="desc" >"Fearless Flyers taught me I can prevail through anything and it has showed me to never give up because everything just gets better. I learned how to become more of an outspoken leader; to be more outgoing and to always be fearless."</p>
                </div>   
            </div> 
        </div> <!--youthwidth-->
        
        <div id="partners" class="youth-footer">
           <ul>

        <!--<li><%= link_to image_tag('center_logo.png'), "https://gaycenter.org/", target:"_blank" %></li>-->
               
            <li><%= link_to image_tag('outcyclinglogo.png'), "http://www.outcycling.org/", target:"_blank" %></li>

        <!--<li><%= link_to image_tag('bike_ny.png'), "http://www.bike.nyc/", target:"_blank" %></li> -->
                

            </ul>
        </div> 
        
        
      
        
     <script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>
        
        <%= javascript_include_tag "app" %>  
<!--        google analytics below-->
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-81832841-2', 'auto');
          ga('send', 'pageview');

        </script>        
        
    </body>  
    
    
</html>