<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fearless Flyers</title>
        
        <%= favicon_link_tag 'favicon' %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600|Roboto:400,500,700" rel="stylesheet">
        
        <%= stylesheet_link_tag 'application.css' %>
        
    </head>
    <body id="body-youth">
    <header id="header">
        <div id="header-content">
            
            <%= link_to image_tag('fearless_logo_crop.jpg', id:'logo',alt:'flyers logo'), '/' %>
            
            <div id="browser-menu-youth" >
            <a href="/" class="subRide">Home</a>
            <a href="about.html" class="subRide menu-about selected">About</a>        
                
                <nav id="rides-drop">
                    <ul id="drop-menu">
                        <p class=" drop-item clearfix"><a href="about" >Fearless Flyers Program</a></p>
<!--                        <p class="drop-item clearfix"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                        <p class="drop-item clearfix"><a href="staff">Board / Staff</a></p>
                        <p class="drop-item clearfix"><a href="youth">Youth Rider Profiles</a></p>
                        <p class="drop-item clearfix"><a href="supporters" class="selected">Supporters</a></p>
                    </ul>
                </nav>    
            <a href="photos" class="subRide">Photos</a>
            <a href="apply" class="subRide">Apply</a>
            <a href="sign_in" class="subRide" disabled>Sign-In</a>     
            <a target="_blank" href="https://flyers2016.causevox.com/" class="subRide" style="color: lightgreen">Donate</a>
   
            </div>
        </div>    
        <div id="mobile_menu">
            <a href="/" class="subRide">Home</a>
            <a href="about.html" class="subRide mobile-menu-about selected">About</a>
                <div id="mobile-drop">
                    <p class="mobile-submenu"><a href="about">Flyers Program</a></p>
<!--                    <p class="mobile-submenu"><a href="static_pages/board.html">Board Of Directors</a></p>-->
                    <p class="mobile-submenu"><a href="staff">Board / Staff</a></p>
                    <p class="mobile-submenu"><a href="youth">Youth Rider Profiles</a></p>
                    <p class="mobile-submenu"><a href="supporters" class="selected">Supporters</a></p>
                </div>    
            <a href="photos" class="subRide">Photos</a>
            <a href="apply" class="subRide">Apply</a> 
            <a href="sign_in" class="subRide">Sign In</a>
            <a target="_blank" href="https://flyers2016.causevox.com/" class="subRide donate-button" style="color: lightgreen">Donate</a>
        </div>
         
        <div id="nav_lines">
            <p class="hamburger">
            </p>
        </div>    
    </header>
    <div id="main-content-youth">   
        <div class="jumbotron-about">
<!--            <img src="img/aboutpic.JPG">-->
            <p id="sunday"></p>
            
        </div>
        <div id="youth-text" >
            <span id="about-oc-youth">THE FEARLESS FLYERS PROGRAM</span>
            
        </div>
        <div id="youthwidth" class="clearfix">
<!--        <div id="lower-youth">-->
                        
<!--        </div>-->
        <div id="about-youth-supporters-page">    
            <div id="supporters-names" class="clearfix">
                <h2>THANK YOU to our supporters:</h2>
                <p><span class="fearless-flyers-program">The Fearless Flyers program </span> survives through the generous contributions from our supporters.  Individual contributions are deeply appreciated and critical to the financial success of the program. OutCycling is a registered 501c3. All donations are fully tax deductable.</p>
                <div class="supporters">
                    <h3>Carbon Fiber ($1000+)</h3>
                    <li>Mark Winkler</li>
                    <li>Jessica Benson</li>
                    <li>Julie Harris</li> 
                    <li>Alice and Elliott Weinstein</li>
                    <li>The Pfizer Corporation</li>
                </div>
                <div class="supporters">
                    <h3>Aluminum ($100-999)</h3>
                    <li>Barbara Voller</li>
                    <li>Rafael Herrera-Lasso</li>
                    <li>Craig Sloane</li>
                    <li>Stephanie Kahn</li>
                    <li>Evan Bachner and Ed Rivera </li>
                    <li>Elise and Gary Schneider</li>
                    <li>Jane and Joel Schneider</li>
                    <li>Johann Shudlick</li>
                    <li>Brad Robertson</li>
                    <li>Wallace Bachman</li>
                    <li>Mary and Melissa Melvin</li>
                    <li>Patrick Barth</li>
                    <li>David Veintimilla</li>
                    <li>Peter Denzler</li>
                    <li>Alex Mimis</li> 
                    <li>Ricardo Romo-Leroux</li>
                    <li>Maurice Reznik</li>
                    <li>Dan Sokol</li> 
                    <li>Graham Weinstein</li>
                                  
                </div> 
                <div class="supporters">
                    <h3>Steel ($1-99)</h3>
                    <li>Cindy Stauffer</li>
                    <li>Daniel Dolz</li>
                    <li>Daniel Low</li>
                    <li>Skip Ralph</li>
                    <li>Regina Lerit</li>
                    <li>Ola Klingberg</li>
                    <li>Sergio Gomez</li>
                    <li>Edwin Hernandez</li>
                    <li>Jesse Graham</li>
                    <li>Dimitri Jobert</li>
                    <li>Ryan Westmacott</li>
                    <li>Shari Geffner-Sullivan</li>
                    <li>Gilbert Robledo</li>
                    <li>Jonathan Hanna</li>
                    <li>Jeffrey J. Klein</li>
                    <li>Angela Wolff</li>
                </div>   
            </div> <!--about-supporters-->
            
            
<!--
            <div id="donation">
                <h4>Click the link below to support the Fearless Flyers program.</h4>
                <div class="button2 donate-button">
                    <a target="_blank" href="https://flyers2016.causevox.com/">Donate</a>
                </div>
            
            </div>
-->

            
            </div> 
            
            <div id="supporters-youth-photo" class="clearfix">
                
            <%= image_tag 'instruction2.jpg' %>
            <%= image_tag 'instruction1.jpg' %>
            <%= image_tag 'instruction3.jpg' %>    
                
            </div>    <!--about-youth-->
            
<!--
            <div id="donation">
                <h3>Donate Now</h3>
                <div class="button2 donate-button">
                    <a target="_blank" href="https://flyers2016.causevox.com/">Donate</a>
                </div>
            
            </div>
-->
            
        </div> <!--youthwidth-->
        
        <div id="partners" class="youth-footer">
           <ul>

        <!--<li><%= link_to image_tag('center_logo.png'), "https://gaycenter.org/", target:"_blank" %></li>-->
               
            <li><%= link_to image_tag('outcyclinglogo.png'), "http://www.outcycling.org/", target:"_blank" %></li>

        <!--<li><%= link_to image_tag('bike_ny.png'), "http://www.bike.nyc/", target:"_blank" %></li> -->
                

            </ul>
        </div> 
</div> <!--.main-content-youth -->
        
        
        
     <script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>
        
        <%= javascript_include_tag 'app' %>
        
<!--        google analytics below-->
        
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-81832841-2', 'auto');
          ga('send', 'pageview');

        </script>        
        
        
    </body>  
    
    
</html>