<%= form_for(@rider) do |f| %>
    <div class="field">
        <%= @rider.errors.full_messages if @rider.errors.any? %>
        <span>First </span><%= f.label :firstname %> 
        <%= text_field(:rider, :firstname) %><br><br>
        <%= f.label :lastname %> 
        <%= text_field(:rider, :lastname) %><br><br>
        <%= f.label :birthdate %>
        <%= date_field(:rider, :birthdate) %><br><br>
        <%= f.label :email %> 
        <%= email_field(:rider, :email) %><br><br>
        <%= f.label :phone %> 
        <%= text_field(:rider, :phone) %><br><br>
        <%= f.label :address %> 
        <%= text_field(:rider, :address) %>
        <%= f.label :apt %> 
        <%= text_field(:rider, :apt) %><br><br>
        <%= f.label :city %> 
        <%= text_field(:rider, :city) %><br>
        <%= f.label :zip %> 
        <%= text_field(:rider, :zip) %><br><br>
        <%= f.label :school %> 
        <%= text_field(:rider, :school) %><br><br>
        <%= f.label :feet %> 
        <%= number_field(:rider, :feet, in: 4..6) %>
        <%= f.label :inches %> 
        <%= number_field(:rider, :inches, in: 0..11) %><br><br>
        <%= f.label :shirt_size %>
        <%= f.radio_button(:shirt, "S") %>
            <%= label_tag(:shirt, "Small") %>
        <%= f.radio_button(:shirt, "M") %>
            <%= label_tag(:shirt, "Medium") %> 
        <%= f.radio_button(:shirt, "L") %>
            <%= label_tag(:shirt, "Large") %>
        <%= f.radio_button(:shirt, "XL") %>
            <%= label_tag(:shirt, "X-Large") %><br><br>
        <%= f.label :Can_you_ride_a_bike? %>
        <%= f.radio_button(:ridebike, "Yes") %>
            <%= label_tag(:ridebike, "Yes, I Can Ride.") %>
        <%= f.radio_button(:ridebike, "No") %>
            <%= label_tag(:ridebike, "No, I Can't Ride.") %><br><br>
        <%= f.label :physical %> <br>
        <%= text_area(:rider, :physical) %><br><br>
        <%= f.label :actdesc %> <br>
        <%= text_area(:rider, :actdesc) %><br><br>
        <%= f.label :whyjoin %> <br>
        <%= text_area(:rider, :whyjoin) %><br><br>
        <%= f.label :bikeexp %> <br>
        <%= text_area(:rider, :bikeexp) %><br><br>
        <%= f.label :athexp %> <br>
        <%= text_area(:rider, :athexp) %><br><br>
        <%= f.label :goal %> <br>
        <%= text_area(:rider, :goal) %><br><br>
        
                
        <br> <br>
        <%= f.submit "Save Edits" %>
    </div>
<% end %>