<p>User Number <%= @rider.id %></p>
    <p><strong>Name:</strong> <%= @rider.firstname %> <%= @rider.lastname %></p>
    <p><strong>Email:</strong> <%= @rider.email %></p>
    <p><strong>Birth Date:</strong> <%= @rider.birthdate %></p>
    <p><strong>Phone:</strong> <%= @rider.phone %></p>
    <p><strong>Address:</strong> <%= @rider.address %>
    <p><strong>Apt:</strong>   <%= @rider.apt %></p>
    <p><strong>City:</strong> <%= @rider.city %> 
    <strong>Zip:</strong> <%= @rider.zip %></p>
    <p><strong>School:</strong> <%= @rider.school %></p>
    <p><strong>Height:</strong> <%= @rider.feet %> <%= @rider.inches %></p>
    <p><strong>Shirt size:</strong> <%= @rider.shirt %></p>
    <p><strong>Can Ride Bike?</strong> <%= @rider.ridebike %></p>
    <p><strong>Physical Activity?</strong> <%= @rider.physical %></p>
    <p><strong>Activity Description:</strong> <%= @rider.actdesc %></p>
    <p><strong>Why Join:</strong> <%= @rider.whyjoin %></p>
    <p><strong>Bike Experience:</strong> <%= @rider.bikeexp %></p>
    <p><strong>Athletic Experience:</strong> <%= @rider.athexp %></p>
    <p><strong>Goal:</strong> <%= @rider.goal %></p>
    
<%= link_to "Edit Rider", edit_rider_path(@rider), style:"color:gray" %>
<br>
<br>
<%= link_to "Back To Full List", '/flyers',style:"color:gray" %>